header {
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: #fff;
  flex-shrink: 0;
  height: 65px;
  padding: 0 20px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header--image {
  margin-right: 6px;

}

.header--title {
  font-family: Karla;
  margin-right: auto;
  width: 140px;
  color: #FFF;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2.075px;
}

.header--project {
  width: 189px;
  height: 14px;
  flex-shrink: 0;
  color: #FFF;
  text-align: right;
  font-family: Inter;
  font-size: .75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}