header {
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: #fff;
  flex-shrink: 0;
  height: 65px;
  padding: 0 20px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header--image {
  margin-right: 6px;

}

.header--title {
  font-family: Karla;
  margin-right: auto;
  width: 140px;
  color: #FFF;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2.075px;
}

.header--description {
  /* width: 189px; */
  width: auto;
  height: 14px;
  flex-shrink: 0;
  color: #FFF;
  text-align: right;
  font-family: Inter;
  font-size: .75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.form {
  width: 90%;
}

.first--text,
.last--text {
  width: 49%;
  height: 50px;
  padding-left: 5px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  color: #0D0D0D;
  font-family: Karla;
  font-size: 80%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}

.first--text::placeholder,
.last--text::placeholder {
  color: #000;
}

.last--text {
  margin-left: 2%;
}


.meme-btn {
  display: block;
  width: 100%;
  font-size: 16px;
  font-family: 'Karla';
  height: 40px;
  flex-shrink: 0;
  border-radius: 5px;
  background: linear-gradient(90deg, #711F8D 1.14%, #A818DA 100%);
  color: #fff;
  border: none;
  cursor: pointer;
}

main {
  padding: 2.25rem 2.25rem 3.44rem 2.25rem;
  display: flex;
  justify-content: center;

}