.navbar {
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: #fff;
}

.navbar nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar img {
  margin-left: -5%;
}

.navbar nav h3 {
  font-family: Karla;
  margin-left: -25%;
  width: 140px;
  color: #FFF;
  font-size: 20.748px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2.075px;
}

.navbar h4 {
  margin-left: 25%;
  width: 189px;
  height: 14px;
  flex-shrink: 0;
  color: #FFF;
  text-align: right;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}